<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let book of books">
    <mat-card class="book-card" [id]="'book-id-' + book.id" *ngIf="book.qty > 0">
      <mat-card-header>
        <div mat-card-avatar class="book-header-image"></div>
        <mat-card-title>{{ book.name }}</mat-card-title>
        <mat-card-subtitle>By: {{ book.author }}</mat-card-subtitle>
        <mat-card-subtitle>Quentity available: {{ book.qty }}</mat-card-subtitle>
        <mat-card-subtitle>
          <strong>Price: {{ book.price | currency }}</strong>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/cover.jpg" [alt]="book.name">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/book', book.id]" mat-button>BUY NOW</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
